*{
	padding: 0;
	margin: 0;
}
body,html{
	height: 100%;
}
@keyframes arrow{
	0%  {bottom:11%;opacity: 1;}
	100%{bottom: 8%;opacity: 0;}
}
.wrap{
	position: relative;
	height: 100%;
	background: #eaeded url(../images/main-bg.jpg) no-repeat center top;
	background-size: 100% auto;
	.page{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		color: #fff;
		&:after{
			position: absolute;
			left: 50%;
			bottom: 10%;
			margin-left: -10px;
			width: 20px;
			height: 24px;
			content: "";
			background: url(../images/arrow.png) no-repeat center center;
			background-size: contain;
			animation: arrow 1.5s ease-out 9999;
		}
		.box{
			position: absolute;
			left: 50%;
			top: 45%;
			transform:translate(-50%,-50%);
			width: 90%;
		}
		.balloon,.lezyo,.theme{
			// position: absolute;
		}
		.balloon{
			position: relative;
			width: 74%;
			margin: 0 13%;
			margin-bottom: -300%;
			opacity: 0;
		}
		.label{
			position: absolute;
			top: 55%;
			left: -200%;
			width: 90%;
			transform:translateY(-50%);
			opacity: 0;
		}
		.theme{
			position: relative;
			width: 80%;
			margin: 10% 10% 0;
			left: 0;
			opacity: 0;
			.q{
				font-size: 18px;
				color: #ff4861;
				font-weight: bold;
				margin-bottom: 10px;
			}
			.a{
				font-size: 15px;
				color: #5a5e60;
				line-height: 1.5;
			}
		}
		&.current{
			z-index: 111;
			.balloon{
				margin-bottom: 0;
				opacity: 1;
				transition: all 1.5s ease-in;
			}
			.label{
				transition: all .5s cubic-bezier(.16,.57,.79,1.18) 1.5s;
				left: 5%;
				opacity: 1;
			}
			.theme{
				opacity: 1;
				transition: opacity 1s linear 2s;
			}
		}
		&.index{
			background: #eaeded url(../images/index-bg.jpg) no-repeat center top;
			background-size: 100% auto;
			opacity: 0;
			.balloon{
				width: 84%;
				margin-right:8%;
				margin-left:8%;
			}
			.label{
				width: 100%;
				top: 37%;
			}
			.theme{
				width: 40%;
				margin: 10% 30% 0;
			}

		}
		&.index.current{
			opacity: 1;
			transition: all .2s ease-in;
			.label{
				left: 0;
			}
		}
	}
}