*{
	padding: 0;
	margin: 0;
}
body,html{
	height: 100%;
}
.wrap{
	position: relative;
	height: 100%;
	background: #eaeded url(../images/main-bg.jpg) no-repeat center top;
	background-size: 100% auto;
	.page{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		color: #fff;
		&:after{
			position: absolute;
			left: 50%;
			bottom: 10%;
			margin-left: -10px;
			width: 20px;
			height: 24px;
			content: "";
			background: url(../images/arrow.png) no-repeat center center;
			background-size: contain;
		}
		.box{
			position: absolute;
			left: 50%;
			top: 45%;
			transform:translate(-50%,-50%);
			width: 90%;
			overflow: hidden;
		}
		.balloon,.lezyo,.theme{
			// position: absolute;
		}
		.balloon{
			position: relative;
			width: 74%;
			margin: 0 13%;
			left: -200%;
		}
		.label{
			position: absolute;
			top: 55%;
			left: -200%;
			width: 90%;
			transform:translateY(-50%);
		}
		.theme{
			position: relative;
			width: 40%;
			margin: 10% 30% 0;
			left: -200%;
		}
		&.current{
			z-index: 111;
			.balloon{
				left: 0;
			}
			.label{
				left: 5%;
			}
			.theme{
				left: 0;
			}
		}
		&.index{
			background: #eaeded url(../images/index-bg.jpg) no-repeat center top;
			background-size: 100% auto;
			.balloon{
				width: 84%;
				margin: 0 8%;
			}
			.label{
				width: 100%;
				top: 37%;
			}

		}
		&.index.current{
			.label{
				left: 0;
			}
		}
	}
}